@import "normalize";
@import "animate";

$placeholder-color-dark: #444;
$placeholder-color: #ddd;

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
body {
	font-family: arial, helvetica, sans-serif;
	font-size: 14px;
    ::-webkit-input-placeholder { color: $placeholder-color; }
    :-moz-placeholder { color: $placeholder-color; }
    ::-moz-placeholder { color: $placeholder-color; }
    :-ms-input-placeholder { color: $placeholder-color; }
}

body.dark {
    background-color: #222;
    color: #999;
    
    .timesheet {
        table,td,th {
            border: 1px solid #666;
        }
        input {
            color: #999;
            background-color: #222;
        }
        tr:hover {
            background-color: #333;
        }
        ::-webkit-input-placeholder { color: $placeholder-color-dark; }
        :-moz-placeholder { color: $placeholder-color-dark; }
        ::-moz-placeholder { color: $placeholder-color-dark; }
        :-ms-input-placeholder { color: $placeholder-color-dark; }
        th {
            background-color: #333;
        }
        td:nth-child(4n+1),
        th:nth-child(4n+1){
            border-right: 1px solid #C3C3C3;
        }
    }
}
#general h2 {
    border: 1px solid #616161;
    margin: 0;
    padding: 8px 10px;
    border-bottom: 0;
}
.container {
    padding: 1em;
    width: 90%;
    margin: 0 auto;
}
.timesheet {
    position: relative;
    margin: 0 auto;
    width: 100%;
}
table {
    border: 1px solid #fff;
    table-layout: fixed;
    width: 100%;
}
td,th {
    text-align: center;
    border: 1px solid #666;
    width: 22px;
    height: 22px;
    transition: background .2s ease-in-out;
    font-weight: normal;
}
td:hover {
    cursor: default;
    // background-color: #eee !important;
}
.leftside {
    position: relative;
    width: 200px;
    padding: 0 3px;
    margin: 0;
}

.timesheet input {
    outline: 0;
    background-color: transparent;
    border: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
td.checked {
    // background-color: lime !important;
    // background-color: #207F92 !important;
    background-color: rgb(32, 146, 54)!important;
    color: #fff;
    &:hover {
        background-color: lime !important;        
    }
    &:active {
        box-shadow: inset 1px 1px 2px #000;
    }
}
td {
    &:hover:not(.checked) {
        background-color: #222;
        &:active {
            box-shadow: inset 1px 1px 2px #000;
        }
    }
}

.fa-check {
    text-shadow: 1px 1px 0px #000;
}



body {

    button,
    input[type=submit] {
        width: auto;
        border: 0;
        margin: 0;
        outline: 0;
        background-color: #FFF;
        padding: 6px 15px;
        color: #000;
        &:hover {
            background-color: #eee;
        }
        &:active {
            background-color: #ddd;
        }
    }

}
input[type=text]{
    border: 0;
    background-color: #eee;
    padding: 3px;
    color: #222;
    outline: 0;
}
label {
    display: inline-block;
    width: 200px;
    text-align: right;
    margin-right: 20px;
}
.field {
    margin-bottom: 10px;
}

.add-row {
    position: absolute;
    left: -45px;
    height: 43px;
    width: 45px;
    background-color: #3D3D3D;
    color: #fff;
    text-align: center;
    padding: 0;
    font-size: 12px;
    line-height: 1;
    &:hover {background-color: #4d4d4d}
}
.remove-row {
    position: absolute;
    left: -33px;
    top: 4px;
    width: 33px;
    display:none;
    &:hover {
        cursor: pointer;
        display:block;
    }
}
tr:hover {
    .remove-row {
        display: block;
    }
}
.page {
    display: none;
    .inner-page {
        padding: 4em 8em;
    }
}
#settings {
    position: absolute;
    top:10%;
    bottom:10%;
    left:10%;
    right:10%;
    background-color: rgba(34, 34, 34, .9);
    border: 1px solid #444;
}
.fa-times {
    font-size: 44px;
    float: right;
    margin: 15px 30px;
    &:hover {
        cursor: pointer;
    }
}
